:root {
    --main-color: #10cab7;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans' , sans-serif;

}
.container {
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* Styling header  */

header {
    padding: 20px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 70px;
}

header .links {
    position: relative;
}

header .links:hover .toggle-icon span:nth-child(2){
    width: 100%;
}

header .links:hover .toggle-icon span:nth-child(3){
    width: 100%;
}

header .links .toggle-icon{
    width: 30px;
    display: flex;
    flex-direction: column;
    direction: rtl;
}

header .links .toggle-icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

header .links .toggle-icon span:first-child{
    width: 100%;
}

header .links .toggle-icon span:nth-child(2){
    width: 50%;
    transition: 0.3s;
}

header .links .toggle-icon span:nth-child(3){
    width: 50%;
    transition: 0.3s;
}

header .links .toggle-icon span:last-child{
    width: 100%;
}

header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    background-color: #e6e6e6;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

header .links:hover ul {
    display: block;
}

header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #e6e6e6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.4s;
}

header .links ul li:not(:last-child) {
    border-bottom: 1px solid #fff;
}

header .links ul li a:hover{
    padding-left: 35px;
}

/* end header  */
/* start landing section  */
.landing {
    background-image: url('../images/mountian.jpeg');
    background-size: cover;
    height: calc(100vh - 68px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    max-width: 100%;
    text-align: center;
    transform: translate(-50% , -50%);
}

.landing .intro-text h1 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
    
}

.landing .intro-text p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
}

/* end landing section  */

/* features section  */
.features {
    padding: 60px 0;
    background: #f6f6f6;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 20px;
}

.features .feat{
    padding: 20px;
    text-align: center;
}

.features .feat i {
    font-size: 40px;
    color: var(--main-color);
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    line-height: 1.6;
    color: #777;
    font-size: 16px;
}

.section-head {
    text-align: center;
    margin: 0;
    font-size: 80px;
    font-weight: 800;
    letter-spacing: -5px;
    color: #ebeced;
}
.section-head + p {
    text-align: center;
    margin: -30px 0 0;
    letter-spacing: 2px;
    color: #7e7e7e;
}

@media (max-width: 767px) {
    .section-head {
        font-size: 60px;
    }
    .section-head + p {
        margin: -20px 0 0;
    }
}

.services {
    padding: 60px 0;
}

.services .services-items {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
    margin-top: 100px;
}

.services .services-items .item-card {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .services-items .item-card {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-items .item-card i {
    color: var(--main-color);
    font-size: 24px;
    padding-right: 20px;
}
.services .services-items .item-card .text {
    flex: 1;
}
.services .services-items .item-card h4 {
    margin: 0 0 20px;
}

.services .services-items .item-card p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
